:root {
    --darkpurple-color: #23144f;
    --purple-color: #7F5DC8;
    --lightpurple-color: #9747FF;
    --purplelight-color: #8080D7;
    --gray-color: #C0C0C0;
    --white-color: #FFFFFF;
    --black-color: #000000;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    background: #23144F;
    margin: 0;
}

.wrapper{
    max-width: 1282.8px;
    margin: 0 auto;
}

header{
    background: #23144F;
    height: 100vh;
    width: 100%;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 1282.8px;
    top: 36px;
    z-index: 100;
}


nav .logo{
    font-family: "Radio Canada";
    font-weight: 400;
    font-size: 40px;
    color: #FFFFFF;
}

nav ul{
    display: flex;
    align-items: center;
    gap: 60px;
    list-style: none;
    margin: 0;
}

nav ul li a{

font-family: "Radio Canada", sans-serif;
font-weight: 400;
font-size: 24px;
color: #FFFFFF;
text-decoration: none;
}

nav ul li a:hover{
    color: var(--purple-color);
}

.title{
    font-family: "Outfit";
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    text-align: center;
    text-decoration: underline;
    color: #FFFFFF;
    padding-top: 50px;
    
}
.stores{
    display: flex;
    gap: 60px;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 300px;   
}

.store{

background: #7F5DC8;
border-radius: 50px;

}

.store img{

width: 270px;
height: 200px;
padding-left: 10%;
padding-top: 10%;

}

.Location{
    font-family: 'Outfit';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 55px;
text-align: center;

color: #FFFFFF;
}

footer .contact{
    font-family: "Outfit";
    color: #8080D7;
    padding-top: 10%;
    padding-left: 80%;
    font-size: x-large;
}

